
@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Regular.ttf")
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway/Raleway-Light.ttf");
    font-weight: Light;
}
