
body {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 4vw;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 2.5rem;
}

#header {
    font-size: 1.2rem;
}



h1, h2 {
    font-weight: 500;
    font-family: "menlo", sans-serif;
    word-spacing: -0.3em;
    color: #A8201A;
    border-bottom: solid 1px;
}

#highlight {
    font-family: "menlo", sans-serif;
    font-weight: 200;
    word-spacing: -0.3em;
    color: #A8201A;
}

#app-title {
    font-family: "menlo", sans-serif;
    font-weight: 200;
    color: #A8201A;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    padding: 7px;*/
/*    border-radius: 1rem;*/
}

a {
    font-family: "menlo", sans-serif;
    color: #A8201A;
    text-decoration: underline;
}

